* {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

.app {
  width: 100vw;
  background: repeating-linear-gradient(
    45deg,
    #f6b162 0px,
    #f6b162 40px,
    #0ca8a3 40px,
    #0ca8a3 80px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.resp-form {
  max-width: 600px;
  height: auto;
  background-color: #0ca8a3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0px 10px;
  color: #fff;
  border: 3px solid #1c6e7d;
  border-radius: 20px;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-field {
  margin: 10px 10px 20px 10px;
  padding-left: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.radio-option {
  font-size: 50px;
}

.full-width {
  width: 100%;
  margin-right: 20px;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 2px solid #1c6e7d;
  border-radius: 10px;
  padding: 5px;
}

.form-btn {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  color: white;
  background-color: #1c6e7d;
  border: transparent;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
