body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

.resp-form {
  width: 100vw;
  height: 100vh;
  background: url("https://bit.ly/34mN4uc") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
